---
layout: ""
page_title: "Provider: Control Tower"
description: |-
  The Control Tower provider provides resources to interact with AWS Control Tower.
---

# Control Tower Provider

The Control Tower provider provides resources to interact with AWS Control Tower.

This provider implements a subset of the configuration options that the [official AWS provider](https://registry.terraform.io/providers/hashicorp/aws/latest/docs#authentication) offers.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}